<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for microphone, audio settings, location, and phone calls -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- Added missing permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- The application element defines the application -->
    <application
        android:label="SHEA-A"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- MainActivity setup for Flutter with v2 embedding -->
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity" 
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

             <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" 
            />

            <!-- Specifies an Android theme to apply to this Activity as soon as the Android process has started -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Meta-data for flutterEmbedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- API key for Google Maps or other services -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBD3RAE-CZCKJRLyF1k1-sWe2hNQ6-Qb8A"/>

    </application>

    <!-- Queries section to declare that we need to handle text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>